* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Josefin Sans, sans-serif;
}

/* //Header */

.opacity {
  width: 100%;
  height: 88vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.header {
  width: 100%;
  height: 88vh;
  background-image: url(./assets//images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-inline: 50px;
  padding-block: 80px;
}
.left-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-nav img {
  width: 200px;
}
.right-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.right-nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.right-nav a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2;
  text-underline-offset: 15px;
}
.title-box {
  margin: 50px;
  display: flex;
  align-items: center;

  width: 600px;
  height: 250px;
  margin-left: 250px;
  border: 3px solid white;
}
.title {
  margin-left: 40px;
  font-size: 60px;
  font-weight: 300;
  color: white;
}

/* VR */

.vr {
  width: 100%;
  height: 80vh;
}
.vr-text {
  position: absolute;
  margin-top: 208px;
  margin-left: 800px;
  background-color: white;
  width: 30%;
  height: 40%;
}
.vr-text h1 {
  margin-top: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: 330;
}
.vr-text p {
  color: #8c8c8c;
  margin-left: 80px;
  width: 300px;
  font-size: 16px;
  text-align: center;
}

.vr-image {
  margin-top: 150px;
  margin-left: 170px;
}

/* Creatioon */

.creation {
  width: 100%;
  height: 100vh;
  margin-bottom: 250px;
}
.title-creation {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.title-creation h4 {
  font-size: 35px;
  font-weight: 390;
}
.title-creation h5 {
  font-size: 20px;
  font-weight: 400;
  border: 2px solid black;
  padding-inline: 16px;
  padding-block: 10px;
}
.title-creation h5:hover {
  background-color: black;
  color: white;
}
.cards {
  width: 100%;
  display: flex;
  margin-block: 20px;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.card-1 {
  color: white;
  background: url(./assets/images/desktop/image-deep-earth.jpg);
  border-radius: 10px;
  background-color: red;
  width: 16%;
  height: 360px;
  display: flex;
  align-items: end;
}
.card-1 h1 {
  font-size: 28px;
  font-weight: 300;
  margin: 15px;
}
.card-2 {
  color: white;
  background: url(./assets/images/desktop/image-night-arcade.jpg);
  border-radius: 10px;
  background-color: red;
  width: 16%;
  height: 360px;
  display: flex;
  align-items: end;
}
.card-2 h1 {
  font-size: 28px;
  font-weight: 300;
  margin: 15px;
}
.card-3 {
  color: white;
  background: url(./assets/images/desktop/image-soccer-team.jpg);
  border-radius: 10px;
  background-color: red;
  width: 16%;
  height: 360px;
  display: flex;
  align-items: end;
}
.card-3 h1 {
  font-size: 28px;
  font-weight: 300;
  margin: 15px;
}
.card-4 {
  color: white;
  background: url(./assets/images/desktop/image-grid.jpg);
  border-radius: 10px;
  background-color: red;
  width: 16%;
  height: 360px;
  display: flex;
  align-items: end;
}
.card-4 h1 {
  font-size: 28px;
  font-weight: 300;
  margin: 15px;
}
.card-5 {
  color: white;
  background: url(./assets/images/desktop/image-from-above.jpg);
  border-radius: 10px;
  background-color: red;
  width: 16%;
  height: 360px;
  display: flex;
  align-items: end;
}
.card-5 h1 {
  font-size: 28px;
  font-weight: 300;
  margin: 15px;
}
.card-4 h1 {
  font-size: 28px;
  font-weight: 300;
  margin: 15px;
}
.card-6 {
  color: white;
  background: url(./assets/images/desktop/image-pocket-borealis.jpg);
  border-radius: 10px;
  background-color: red;
  width: 16%;
  height: 360px;
  display: flex;
  align-items: end;
}
.card-6 h1 {
  font-size: 28px;
  font-weight: 300;
  margin: 15px;
}
.card-7 {
  color: white;
  background: url(./assets/images/desktop/image-curiosity.jpg);
  border-radius: 10px;
  background-color: red;
  width: 16%;
  height: 360px;
  display: flex;
  align-items: end;
}
.card-7 h1 {
  font-size: 28px;
  font-weight: 300;
  margin: 15px;
}
.card-8 {
  color: white;
  background: url(./assets/images/desktop/image-fisheye.jpg);
  border-radius: 10px;
  background-color: red;
  width: 16%;
  height: 360px;
  display: flex;
  align-items: end;
}
.card-8 h1 {
  font-size: 28px;
  font-weight: 300;
  margin: 15px;
}

/* footer */

.footer {
  padding-block: 100px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
.left-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.left-link a {
  text-decoration-line: none;
  color: white;
}
.left-link a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2;
  text-underline-offset: 15px;
}
.right-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
}
.social-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.social-logo img:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2;
  text-underline-offset: 15px;
}
